*volumetricMeshFilename
../../models/asianDragon/asianDragon.veg

*solver
#implicitBackwardEuler
implicitNewmark
#symplecticEuler
#Euler

*massMatrixFilename
../../models/asianDragon/asianDragon.mass

*massSpringSystemTetMeshConfigFilename
asianDragon.massspring

*renderingMeshFilename
../../models/asianDragon/asianDragon.obj

*secondaryRenderingMeshFilename
../../models/asianDragon/asianDragon.obj

*secondaryRenderingMeshInterpolationFilename
../../models/asianDragon/asianDragon.interp

*fixedVerticesFilename
../../models/asianDragon/asianDragon.bou

*timestep
0.01

*dampingMassCoef
0.0
#1.0

*dampingStiffnessCoef
0.01
#0.001

*deformableObjectCompliance
1.0

*baseFrequency
1.0

*numInternalForceThreads
4

*numSolverThreads
2

*lightingConfigFilename
asianDragon.lighting

*syncTimestepWithGraphics
0

*renderSecondaryDeformableObject
0

*cameraRadius
11.76

*cameraLongitude
-302.934

*cameraLattitude
14.8434

*focusPositionX
1.0

*focusPositionY
0.0

*focusPositionZ
0.0

