*volumetricMeshFilename
../../models/asianDragon/asianDragon.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
InvertibleFEM
#CLFEM
#LinearFEM

# for InvertibleFEM
*inversionThreshold
0.1

# for InvertibleFEM
*invertibleMaterial
StVK
#neoHookean
#MooneyRivlin

*fixedVerticesFilename
#../../models/asianDragon/asianDragon.bou
../../models/asianDragon/asianDragon-empty.bou

*massMatrixFilename
../../models/asianDragon/asianDragon.mass

*renderingMeshFilename
../../models/asianDragon/asianDragon.veg.obj

*secondaryRenderingMeshFilename
../../models/asianDragon/asianDragon.obj

*secondaryRenderingMeshInterpolationFilename
../../models/asianDragon/asianDragon.interp

*timestep
0.01

*syncTimestepWithGraphics
0

*dampingMassCoef
0.0
#1.0

*dampingStiffnessCoef
0.01
#0.001

*deformableObjectCompliance
30.0

*baseFrequency
1.0

*numInternalForceThreads
4

*numSolverThreads
2

*renderSecondaryDeformableObject
0

*lightingConfigFilename
asianDragon.lighting

*cameraRadius
11.76

*cameraLongitude
-302.934

*cameraLattitude
14.8434

*focusPositionX
1.0

*focusPositionY
0.0

*focusPositionZ
0.0

