*volumetricMeshFilename
#model/turtle-volumetric-homogeneous.veg
model/turtle-volumetric-heterogeneous.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
InvertibleFEM
#CLFEM
#LinearFEM

*invertibleMaterial
StVK
#neoHookean

*renderingMeshFilename
model/turtle-volumetric.obj

*secondaryRenderingMeshFilename
model/turtle.obj

*secondaryRenderingMeshInterpolationFilename
model/turtle.interp

*timestep
0.01

*dampingMassCoef
1.0
#10.0

*dampingStiffnessCoef
0.01
#0.001

*deformableObjectCompliance
30.0

*baseFrequency
0.5

*lightingConfigFilename
turtle.lighting

*massMatrixFilename
model/turtle-volumetric.mass

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
3.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
model/turtle-volumetric.bou

*numInternalForceThreads
4

*numSolverThreads
2

*principalStretchThreshold
0.6

